.container{
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.shopping_cart{
  display: flex;
  flex-direction: column;
  width: 350px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 1em;
  justify-content: center;
  align-items: center;
  align-content: center;
}


.shopping_cart > .show-grid {
  padding-bottom: 1.5em;
}
